body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f4f4f4;
}

nav{
    background:#333;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-right:20px;
}

.container{
    width:80%;
    margin:auto;
    margin-top:40px;
    background:white;
    padding:30px;
    border-radius:8px;
    box-shadow:0 0 10px gray;
}

h1{
    color:#0066cc;
}